Applendar.API/bin/**
Applendar.API/obj/**
Applendar.Domain/bin/**
Applendar.Domain/obj/**
Applendar.Infrastructure/bin/**
Applendar.Infrastructure/obj/**
obj/**
Applendar.sln.DotSettings.user
.idea/**